###################################################
# PROJE: Rating Product & Sorting Reviews in Amazon
###################################################

###################################################
# İş Problemi
###################################################

# E-ticaretteki en önemli problemlerden bir tanesi ürünlere satış sonrası verilen puanların doğru şekilde hesaplanmasıdır.
# Bu problemin çözümü e-ticaret sitesi için daha fazla müşteri memnuniyeti sağlamak, satıcılar için ürünün öne çıkması ve satın
# alanlar için sorunsuz bir alışveriş deneyimi demektir. Bir diğer problem ise ürünlere verilen yorumların doğru bir şekilde sıralanması
# olarak karşımıza çıkmaktadır. Yanıltıcı yorumların öne çıkması ürünün satışını doğrudan etkileyeceğinden dolayı hem maddi kayıp
# hem de müşteri kaybına neden olacaktır. Bu 2 temel problemin çözümünde e-ticaret sitesi ve satıcılar satışlarını arttırırken müşteriler
# ise satın alma yolculuğunu sorunsuz olarak tamamlayacaktır.

###################################################
# Veri Seti Hikayesi
###################################################

# Amazon ürün verilerini içeren bu veri seti ürün kategorileri ile çeşitli metadataları içermektedir.
# Elektronik kategorisindeki en fazla yorum alan ürünün kullanıcı puanları ve yorumları vardır.

# Değişkenler:
# reviewerID: Kullanıcı ID’si
# asin: Ürün ID’si
# reviewerName: Kullanıcı Adı
# helpful: Faydalı değerlendirme derecesi
# reviewText: Değerlendirme
# overall: Ürün rating’i
# summary: Değerlendirme özeti
# unixReviewTime: Değerlendirme zamanı
# reviewTime: Değerlendirme zamanı Raw
# day_diff: Değerlendirmeden itibaren geçen gün sayısı
# helpful_yes: Değerlendirmenin faydalı bulunma sayısı
# total_vote: Değerlendirmeye verilen oy sayısı



###################################################
# GÖREV 1: Average Rating'i Güncel Yorumlara Göre Hesaplayınız ve Var Olan Average Rating ile Kıyaslayınız.
###################################################

# Paylaşılan veri setinde kullanıcılar bir ürüne puanlar vermiş ve yorumlar yapmıştır.
# Bu görevde amacımız verilen puanları tarihe göre ağırlıklandırarak değerlendirmek.
# İlk ortalama puan ile elde edilecek tarihe göre ağırlıklı puanın karşılaştırılması gerekmektedir.

In [53]:
import pandas as pd
import math
import scipy.stats as st
from sklearn.preprocessing import MinMaxScaler

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.expand_frame_repr', False)
pd.set_option('display.float_format', lambda x: '%.5f' % x)

###################################################
# Adım 1: Veri Setini Okutunuz ve Ürünün Ortalama Puanını Hesaplayınız.
###################################################

In [54]:
df=pd.read_csv("amazon_review.csv")
df.head(25)

        reviewerID        asin                                      reviewerName helpful                                         reviewText  overall                                            summary  unixReviewTime  reviewTime  day_diff  helpful_yes  total_vote
0   A3SBTW3WS4IQSN  B007WTAJTO                                               NaN  [0, 0]                                         No issues.  4.00000                                         Four Stars      1406073600  2014-07-23       138            0           0
1   A18K1ODH1I2MVB  B007WTAJTO                                              0mie  [0, 0]  Purchased this for my device, it worked as adv...  5.00000                                      MOAR SPACE!!!      1382659200  2013-10-25       409            0           0
2   A2FII3I2MBMUIA  B007WTAJTO                                               1K3  [0, 0]  it works as expected. I should have sprung for...  4.00000                          nothing to really say....      1356220800  2012-12-23       715            0           0
3    A3H99DFEG68SR  B007WTAJTO                                               1m2  [0, 0]  This think has worked out great.Had a diff. br...  5.00000             Great buy at this price!!!  *** UPDATE      1384992000  2013-11-21       382            0           0
4   A375ZM4U047O79  B007WTAJTO                                      2&amp;1/2Men  [0, 0]  Bought it with Retail Packaging, arrived legit...  5.00000                                   best deal around      1373673600  2013-07-13       513            0           0
5   A2IDCSC6NVONIZ  B007WTAJTO                                           2Cents!  [0, 0]  It's mini storage.  It doesn't do anything els...  5.00000                        Not a lot to really be said      1367193600  2013-04-29       588            0           0
6   A26YHXZD5UFPVQ  B007WTAJTO                                        2K1Toaster  [0, 0]  I have it in my phone and it never skips a bea...  5.00000                                         Works well      1382140800  2013-10-19       415            0           0
7   A3CW0ZLUO5X2B1  B007WTAJTO  35-year Technology Consumer "8-tracks to 802.11"  [0, 0]  It's hard to believe how affordable digital ha...  5.00000  32 GB for less than two sawbucks...what's not ...      1404950400  2014-10-07        62            0           0
8   A2CYJO155QP33S  B007WTAJTO                                         4evryoung  [1, 1]  Works in a HTC Rezound.  Was running short of ...  5.00000                                      Loads of room      1395619200  2014-03-24       259            1           1
9   A2S7XG3ZC4VGOQ  B007WTAJTO                                          53rdcard  [0, 0]  in my galaxy s4, super fast card, and am total...  5.00000                                        works great      1381449600  2013-11-10       393            0           0
10  A1RTQROTWR5NCB  B007WTAJTO                                         808TREX50  [0, 0]  I like this SD Card because it can take music ...  5.00000                                 32GB MicroSD Card.      1368230400  2013-11-05       398            0           0
11  A2Q3ICGWZLY3JJ  B007WTAJTO                                             98020  [0, 0]  It works, but file writes are a bit slower tha...  3.00000              It works, but not as fast as expected      1384905600  2013-11-20       383            0           0
12   AN2VFTXYW1SZU  B007WTAJTO                                            9z4cda  [0, 0]      THE NAME OF ITSELF SPEAKS OUT. GO SANDISK GO!  5.00000                               A RENOUND NAME BRAND      1404432000  2014-04-07       245            0           0
13   AVHN134ADVP4R  B007WTAJTO                              A4Q96 "Gadget Lover"  [0, 0]  Solid SDHC card that is fast (at reading and w...  5.00000                                    Great SDHC card      1384992000  2013-11-21       382            0           0
14   A3EA7KGYC8LB0  B007WTAJTO                                     Aaron "Aaron"  [0, 0]  Heard that the card's write speed is insuffici...  5.00000                  Use it for my GoPro Hero 3+ Black      1392595200  2014-02-17       294            0           0
15  A29RI184HRX66H  B007WTAJTO                                     Aaron "Aaron"  [0, 0]  I bought this to use with my go pro hero 3 bla...  5.00000                    Awesome price, great brand name      1357257600  2013-04-01       616            0           0
16  A2G9ZHVA6IOGBY  B007WTAJTO                                     Aaron Alvarez  [0, 0]  got this because i had a 2 GB one that filled ...  5.00000                                  great price. fast      1393718400  2014-02-03       308            0           0
17  A1OATGH4DF0RF0  B007WTAJTO                                 Aaron F. Virginie  [0, 1]  Class 10 Speed Rating for Seamless Full HD Vid...  5.00000                                Get Fast Load Times      1372896000  2013-04-07       610            0           1
18  A1V6CQACZ9IOLC  B007WTAJTO                                      Aaron Graves  [0, 0]  The read and write speeds are better than the ...  5.00000                     Very good little Micro SD card      1398988800  2014-02-05       306            0           0
19  A2ELBSIZ26GKM2  B007WTAJTO                                             Aaron  [0, 0]  This works with the NL1520.  No video stutteri...  5.00000                                              works      1389052800  2014-07-01       160            0           0
20   A6AL9BZ0JALUP  B007WTAJTO                                             Aaron  [0, 0]  Works as expected.  High transfer speed.  Nice...  5.00000                                              Works      1382832000  2013-10-27       407            0           0
21   A80SHWURCS1KD  B007WTAJTO                                             Aaron  [0, 0]  Works great in a Samsung Galaxy S3.  Formatted...  5.00000                                Good with Galaxy S3      1388275200  2013-12-29       344            0           0
22   ATSVUBE2115N1  B007WTAJTO                                      Aaron Madden  [0, 0]  SanDisk never disappoints. As always SanDisk p...  5.00000                                  Never disappoints      1383609600  2013-05-11       576            0           0
23  A3R54B4AFAV3PD  B007WTAJTO                                      aaron mckaig  [0, 0]  Good price, works flawless in my Samsung S4! N...  5.00000                                              Great      1396569600  2014-04-04       248            0           0
24  A243XIFG20QRQW  B007WTAJTO                                        Aaron Nash  [0, 0]  San disk is hard to beat.  You will pay more f...  5.00000                                            Perfect      1395532800  2014-03-23       260            0           0

In [55]:
df["overall"].mean()

4.587589013224822

In [56]:

###################################################
# Adım 2: Tarihe Göre Ağırlıklı Puan Ortalamasını Hesaplayınız.
###################################################

In [57]:
df.shape

(4915, 12)

In [58]:
df["overall"].value_counts()

5.00000    3922
4.00000     527
1.00000     244
3.00000     142
2.00000      80
Name: overall, dtype: int64

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4915 entries, 0 to 4914
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   reviewerID      4915 non-null   object
 1   asin            4915 non-null   object
 2   reviewerName    4914 non-null   object
 3   helpful         4915 non-null   object
 4   reviewText      4914 non-null   object
 5   overall         4915 non-null   float64
 6   summary         4915 non-null   object
 7   unixReviewTime  4915 non-null   int64
 8   reviewTime      4915 non-null   object
 9   day_diff        4915 non-null   int64
 10  helpful_yes     4915 non-null   int64
 11  total_vote      4915 non-null   int64
dtypes: float64(1), int64(4), object(7)
memory usage: 460.9+ KB

In [60]:
df["reviewTime"]=pd.to_datetime(df["reviewTime"]) #reviewTime değişkeni object olarak görünüyor bu sebeple time'a cevirmeliyiz
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4915 entries, 0 to 4914
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   reviewerID      4915 non-null   object
 1   asin            4915 non-null   object
 2   reviewerName    4914 non-null   object
 3   helpful         4915 non-null   object
 4   reviewText      4914 non-null   object
 5   overall         4915 non-null   float64
 6   summary         4915 non-null   object
 7   unixReviewTime  4915 non-null   int64
 8   reviewTime      4915 non-null   datetime64[ns]
 9   day_diff        4915 non-null   int64
 10  helpful_yes     4915 non-null   int64
 11  total_vote      4915 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(4), object(6)
memory usage: 460.9+ KB

In [61]:
df.head()

       reviewerID        asin  reviewerName helpful                                         reviewText  overall                                 summary  unixReviewTime reviewTime  day_diff  helpful_yes  total_vote
0  A3SBTW3WS4IQSN  B007WTAJTO           NaN  [0, 0]                                         No issues.  4.00000                              Four Stars      1406073600 2014-07-23       138            0           0
1  A18K1ODH1I2MVB  B007WTAJTO          0mie  [0, 0]  Purchased this for my device, it worked as adv...  5.00000                           MOAR SPACE!!!      1382659200 2013-10-25       409            0           0
2  A2FII3I2MBMUIA  B007WTAJTO           1K3  [0, 0]  it works as expected. I should have sprung for...  4.00000               nothing to really say....      1356220800 2012-12-23       715            0           0
3   A3H99DFEG68SR  B007WTAJTO           1m2  [0, 0]  This think has worked out great.Had a diff. br...  5.00000  Great buy at this price!!!  *** UPDATE      1384992000 2013-11-21       382            0           0
4  A375ZM4U047O79  B007WTAJTO  2&amp;1/2Men  [0, 0]  Bought it with Retail Packaging, arrived legit...  5.00000                        best deal around      1373673600 2013-07-13       513            0           0

In [62]:
df["reviewTime"].max()

Timestamp('2014-12-07 00:00:00')

In [63]:
current_date=pd.to_datetime("2014-12-07 00:00:00") ##veri setindeki maximum tarih, nu güne göre tarih al anlamında

In [64]:
df["days"]=(current_date-df["reviewTime"]).dt.days ##bugünün tarihi(current day)-veri setindeki tarih yaparak ne kadar gün(.days) önce gerçekleştiğini buluyoruz

In [65]:
df["days"].head()

0    137
1    408
2    714
3    381
4    512
Name: days, dtype: int64

In [66]:
df.head()

       reviewerID        asin  reviewerName helpful                                         reviewText  overall                                 summary  unixReviewTime reviewTime  day_diff  helpful_yes  total_vote  days
0  A3SBTW3WS4IQSN  B007WTAJTO           NaN  [0, 0]                                         No issues.  4.00000                              Four Stars      1406073600 2014-07-23       138            0           0   137
1  A18K1ODH1I2MVB  B007WTAJTO          0mie  [0, 0]  Purchased this for my device, it worked as adv...  5.00000                           MOAR SPACE!!!      1382659200 2013-10-25       409            0           0   408
2  A2FII3I2MBMUIA  B007WTAJTO           1K3  [0, 0]  it works as expected. I should have sprung for...  4.00000               nothing to really say....      1356220800 2012-12-23       715            0           0   714
3   A3H99DFEG68SR  B007WTAJTO           1m2  [0, 0]  This think has worked out great.Had a diff. br...  5.00000  Great buy at this price!!!  *** UPDATE      1384992000 2013-11-21       382            0           0   381
4  A375ZM4U047O79  B007WTAJTO  2&amp;1/2Men  [0, 0]  Bought it with Retail Packaging, arrived legit...  5.00000                        best deal around      1373673600 2013-07-13       513            0           0   512

In [67]:
df.loc[df["days"] <= 30, "overall"].mean()

4.766233766233766

In [68]:
df.loc[(df["days"] > 30) & (df["days"] <= 90), "overall"].mean()

4.793103448275862

In [69]:
df.loc[(df["days"] > 90) & (df["days"] <= 180), "overall"].mean()

4.649484536082475

In [70]:
df.loc[(df["days"] > 180), "overall"].mean()

4.573373327180434

In [71]:
df.loc[df["days"] <= 30, "overall"].mean() * 28/100 + \
    df.loc[(df["days"] > 30) & (df["days"] <= 90), "overall"].mean() * 26/100 + \
    df.loc[(df["days"] > 90) & (df["days"] <= 180), "overall"].mean() * 24/100 + \
    df.loc[(df["days"] > 180), "overall"].mean() * 22/100 ##bu 22/100 gibi ağırlık oranlarının neye göre verildiğini öğren (öneme göre değer verdik)
    ##yüzdeliklerin toplamı 100 olmalı
    ##zamana göre ağırlıklı ortalama

4.702770771736668

In [72]:
##yukarıdaki işlemin fonksiyonlaştırılması
def time_based_weighted_average(dataframe, w1=28, w2=26, w3=24, w4=22):
    return dataframe.loc[df["days"] <= 30, "overall"].mean() * w1 / 100 + \
           dataframe.loc[(dataframe["days"] > 30) & (dataframe["days"] <= 90), "overall"].mean() * w2 / 100 + \
           dataframe.loc[(dataframe["days"] > 90) & (dataframe["days"] <= 180), "overall"].mean() * w3 / 100 + \
           dataframe.loc[(dataframe["days"] > 180), "overall"].mean() * w4 / 100

In [73]:
time_based_weighted_average(df)

4.702770771736668

In [74]:
df["overall"].mean()

4.587589013224822

time_based_weighted_average ortalama average'dan büyük çıkmıştır bu da ortalama rating puanının yanlılık gösterdiğine işarettir



###################################################
# Görev 2: Ürün için Ürün Detay Sayfasında Görüntülenecek 20 Review'i Belirleyiniz.
###################################################


###################################################
# Adım 1. helpful_no Değişkenini Üretiniz
###################################################

# Not:
# total_vote bir yoruma verilen toplam up-down sayısıdır.
# up, helpful demektir.
# veri setinde helpful_no değişkeni yoktur, var olan değişkenler üzerinden üretilmesi gerekmektedir.

In [75]:
df.head(10)

       reviewerID        asin                                      reviewerName helpful                                         reviewText  overall                                            summary  unixReviewTime reviewTime  day_diff  helpful_yes  total_vote  days
0  A3SBTW3WS4IQSN  B007WTAJTO                                               NaN  [0, 0]                                         No issues.  4.00000                                         Four Stars      1406073600 2014-07-23       138            0           0   137
1  A18K1ODH1I2MVB  B007WTAJTO                                              0mie  [0, 0]  Purchased this for my device, it worked as adv...  5.00000                                      MOAR SPACE!!!      1382659200 2013-10-25       409            0           0   408
2  A2FII3I2MBMUIA  B007WTAJTO                                               1K3  [0, 0]  it works as expected. I should have sprung for...  4.00000                          nothing to really say....      1356220800 2012-12-23       715            0           0   714
3   A3H99DFEG68SR  B007WTAJTO                                               1m2  [0, 0]  This think has worked out great.Had a diff. br...  5.00000             Great buy at this price!!!  *** UPDATE      1384992000 2013-11-21       382            0           0   381
4  A375ZM4U047O79  B007WTAJTO                                      2&amp;1/2Men  [0, 0]  Bought it with Retail Packaging, arrived legit...  5.00000                                   best deal around      1373673600 2013-07-13       513            0           0   512
5  A2IDCSC6NVONIZ  B007WTAJTO                                           2Cents!  [0, 0]  It's mini storage.  It doesn't do anything els...  5.00000                        Not a lot to really be said      1367193600 2013-04-29       588            0           0   587
6  A26YHXZD5UFPVQ  B007WTAJTO                                        2K1Toaster  [0, 0]  I have it in my phone and it never skips a bea...  5.00000                                         Works well      1382140800 2013-10-19       415            0           0   414
7  A3CW0ZLUO5X2B1  B007WTAJTO  35-year Technology Consumer "8-tracks to 802.11"  [0, 0]  It's hard to believe how affordable digital ha...  5.00000  32 GB for less than two sawbucks...what's not ...      1404950400 2014-10-07        62            0           0    61
8  A2CYJO155QP33S  B007WTAJTO                                         4evryoung  [1, 1]  Works in a HTC Rezound.  Was running short of ...  5.00000                                      Loads of room      1395619200 2014-03-24       259            1           1   258
9  A2S7XG3ZC4VGOQ  B007WTAJTO                                          53rdcard  [0, 0]  in my galaxy s4, super fast card, and am total...  5.00000                                        works great      1381449600 2013-11-10       393            0           0   392

In [76]:
df["helpful_no"]=(df["total_vote"]-df["helpful_yes"])

In [77]:
df.head(20)

        reviewerID        asin                                      reviewerName helpful                                         reviewText  overall                                            summary  unixReviewTime reviewTime  day_diff  helpful_yes  total_vote  days  helpful_no
0   A3SBTW3WS4IQSN  B007WTAJTO                                               NaN  [0, 0]                                         No issues.  4.00000                                         Four Stars      1406073600 2014-07-23       138            0           0   137           0
1   A18K1ODH1I2MVB  B007WTAJTO                                              0mie  [0, 0]  Purchased this for my device, it worked as adv...  5.00000                                      MOAR SPACE!!!      1382659200 2013-10-25       409            0           0   408           0
2   A2FII3I2MBMUIA  B007WTAJTO                                               1K3  [0, 0]  it works as expected. I should have sprung for...  4.00000                          nothing to really say....      1356220800 2012-12-23       715            0           0   714           0
3    A3H99DFEG68SR  B007WTAJTO                                               1m2  [0, 0]  This think has worked out great.Had a diff. br...  5.00000             Great buy at this price!!!  *** UPDATE      1384992000 2013-11-21       382            0           0   381           0
4   A375ZM4U047O79  B007WTAJTO                                      2&amp;1/2Men  [0, 0]  Bought it with Retail Packaging, arrived legit...  5.00000                                   best deal around      1373673600 2013-07-13       513            0           0   512           0
5   A2IDCSC6NVONIZ  B007WTAJTO                                           2Cents!  [0, 0]  It's mini storage.  It doesn't do anything els...  5.00000                        Not a lot to really be said      1367193600 2013-04-29       588            0           0   587           0
6   A26YHXZD5UFPVQ  B007WTAJTO                                        2K1Toaster  [0, 0]  I have it in my phone and it never skips a bea...  5.00000                                         Works well      1382140800 2013-10-19       415            0           0   414           0
7   A3CW0ZLUO5X2B1  B007WTAJTO  35-year Technology Consumer "8-tracks to 802.11"  [0, 0]  It's hard to believe how affordable digital ha...  5.00000  32 GB for less than two sawbucks...what's not ...      1404950400 2014-10-07        62            0           0    61           0
8   A2CYJO155QP33S  B007WTAJTO                                         4evryoung  [1, 1]  Works in a HTC Rezound.  Was running short of ...  5.00000                                      Loads of room      1395619200 2014-03-24       259            1           1   258           0
9   A2S7XG3ZC4VGOQ  B007WTAJTO                                          53rdcard  [0, 0]  in my galaxy s4, super fast card, and am total...  5.00000                                        works great      1381449600 2013-11-10       393            0           0   392           0
10  A1RTQROTWR5NCB  B007WTAJTO                                         808TREX50  [0, 0]  I like this SD Card because it can take music ...  5.00000                                 32GB MicroSD Card.      1368230400 2013-11-05       398            0           0   397           0
11  A2Q3ICGWZLY3JJ  B007WTAJTO                                             98020  [0, 0]  It works, but file writes are a bit slower tha...  3.00000              It works, but not as fast as expected      1384905600 2013-11-20       383            0           0   382           0
12   AN2VFTXYW1SZU  B007WTAJTO                                            9z4cda  [0, 0]      THE NAME OF ITSELF SPEAKS OUT. GO SANDISK GO!  5.00000                               A RENOUND NAME BRAND      1404432000 2014-04-07       245            0           0   244           0
13   AVHN134ADVP4R  B007WTAJTO                              A4Q96 "Gadget Lover"  [0, 0]  Solid SDHC card that is fast (at reading and w...  5.00000                                    Great SDHC card      1384992000 2013-11-21       382            0           0   381           0
14   A3EA7KGYC8LB0  B007WTAJTO                                     Aaron "Aaron"  [0, 0]  Heard that the card's write speed is insuffici...  5.00000                  Use it for my GoPro Hero 3+ Black      1392595200 2014-02-17       294            0           0   293           0
15  A29RI184HRX66H  B007WTAJTO                                     Aaron "Aaron"  [0, 0]  I bought this to use with my go pro hero 3 bla...  5.00000                    Awesome price, great brand name      1357257600 2013-04-01       616            0           0   615           0
16  A2G9ZHVA6IOGBY  B007WTAJTO                                     Aaron Alvarez  [0, 0]  got this because i had a 2 GB one that filled ...  5.00000                                  great price. fast      1393718400 2014-02-03       308            0           0   307           0
17  A1OATGH4DF0RF0  B007WTAJTO                                 Aaron F. Virginie  [0, 1]  Class 10 Speed Rating for Seamless Full HD Vid...  5.00000                                Get Fast Load Times      1372896000 2013-04-07       610            0           1   609           1
18  A1V6CQACZ9IOLC  B007WTAJTO                                      Aaron Graves  [0, 0]  The read and write speeds are better than the ...  5.00000                     Very good little Micro SD card      1398988800 2014-02-05       306            0           0   305           0
19  A2ELBSIZ26GKM2  B007WTAJTO                                             Aaron  [0, 0]  This works with the NL1520.  No video stutteri...  5.00000                                              works      1389052800 2014-07-01       160            0           0   159           0


###################################################
# Adım 2. score_pos_neg_diff, score_average_rating ve wilson_lower_bound Skorlarını Hesaplayıp Veriye Ekleyiniz
###################################################

In [81]:
comments = pd.DataFrame({"up": df["helpful_yes"], "down": df["helpful_no"],"reviewerID": df["reviewerID"]})

# score_pos_neg_diff
comments["score_pos_neg_diff"] = comments.apply(lambda x: score_up_down_diff(x["up"],
                                                                             x["down"]), axis=1)

<>:4: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
<>:4: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
C:\Users\zehnii\AppData\Local\Temp\ipykernel_10204\1403918132.py:4: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
  comments["score_pos_neg_diff"] = comments.apply(lambda x: "score_up_down_diff"(x["up"],
C:\Users\zehnii\AppData\Local\Temp\ipykernel_10204\1403918132.py:4: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
  comments["score_pos_neg_diff"] = comments.apply(lambda x: "score_up_down_diff"(x["up"],
C:\Users\zehnii\AppData\Local\Temp\ipykernel_10204\1403918132.py:4: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
  comments["score_pos_neg_diff"] = comments.apply(lambda x: "score_up_down_diff"(x["up"],
C:\Users\zehnii\AppData\Local\Temp\ipykernel_10204\1403918132.py:4: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
  comments["score_pos_neg_diff"] = comments.apply(lambda x: "score_up_down_diff"(x["up"],
C:\Users\zehnii\AppData\Local\Temp\ipykernel_10204\1403918132.py:4: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
  comments["score_pos_neg_diff"] = comments.apply(lambda x: "score_up_down_diff"(x["up"],
C:\Users\zehnii\AppData\Local\Temp\ipykernel_10204\1403918132.py:4: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
  comments["score_pos_neg_diff"] = comments.apply(lambda x: "score_up_down_diff"(x["up"],
C:\Users\zehnii\AppData\Local\Temp\ipykernel_10204\1403918132.py:4: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
  comments["score_pos_neg_diff"] = comments.apply(lambda x: "score_up_down_diff"(x["up"],

TypeError: 'str' object is not callable

In [ ]:
comments.head()

   up  down      reviewerID  score_pos_neg_diff
0   0     0  A3SBTW3WS4IQSN                   0
1   0     0  A18K1ODH1I2MVB                   0
2   0     0  A2FII3I2MBMUIA                   0
3   0     0   A3H99DFEG68SR                   0
4   0     0  A375ZM4U047O79                   0

In [ ]:

def score_up_down_diff(up, down):
    return up - down

In [ ]:
comments.sort_values("score_pos_neg_diff", ascending=False).head()

        up  down      reviewerID  score_pos_neg_diff
2031  1952    68  A12B7ZMXFI6IXY                1884
4212  1568   126   AVBMZZAFEKO58                1442
3449  1428    77   AOEAD7DPLZE53                1351
317    422    73  A1ZQAQFYSXL5MQ                 349
3981   112    27  A1K91XXQ6ZEBQR                  85

###################################################
# Score = Average rating = (up ratings) / (all ratings) ////// score_average_rating
###################################################

In [ ]:

def score_average_rating(up, down):
    if up + down == 0:
        return 0
    return up / (up + down)
    
comments["score_average_rating"] = comments.apply(lambda x: score_average_rating(x["up"], x["down"]), axis=1)

In [ ]:
comments.sort_values("score_average_rating", ascending=False).head(20)

      up  down      reviewerID  score_pos_neg_diff  score_average_rating
4277   1     0  A35KXSU6AD1481                   1               1.00000
2881   1     0  A3VSG5X7GPNNW6                   1               1.00000
1073   1     0  A2ZXEKQ2OBZLEE                   1               1.00000
445    1     0   AIWBDRNBODLEA                   1               1.00000
3923   1     0   A2PH4RGYVR34L                   1               1.00000
435    1     0   AUH8I22ITG020                   1               1.00000
2901   1     0  A28TRYU3FJ039C                   1               1.00000
2204   1     0   AANX2UN8NPE22                   1               1.00000
2206   1     0  A3KO3964CNP0XN                   1               1.00000
3408   1     0  A20WUUD9EDWY4N                   1               1.00000
4538   1     0  A2AF4ZAORAOI04                   1               1.00000
1097   1     0  A28I19GM9HQ7IS                   1               1.00000
2885   1     0  A3ABVT2M5M6IKE                   1               1.00000
3418   1     0  A2IL8EBLBZJUEG                   1               1.00000
4554   1     0  A202CZ4PJH83G4                   1               1.00000
1609   7     0  A2TPXOZSU1DACQ                   7               1.00000
402    1     0  A342LSQCE5UESO                   1               1.00000
2226   1     0   AZKN9KO2ECFFZ                   1               1.00000
3901   1     0  A15ADZE1K9839O                   1               1.00000
3897   1     0  A3DSXJDE6PAXHZ                   1               1.00000

 
###################################################
# Wilson Lower Bound Score
###################################################

# 6444-1034
# 0.6
# 0.5 0.7
# 0.5

wilson_lower_bound

In [ ]:

def wilson_lower_bound(up, down, confidence=0.95):

    n = up + down
    if n == 0:
        return 0
    z = st.norm.ppf(1 - (1 - confidence) / 2)
    phat = 1.0 * up / n
    return (phat + z * z / (2 * n) - z * math.sqrt((phat * (1 - phat) + z * z / (4 * n)) / n)) / (1 + z * z / n)

In [ ]:
comments["wilson_lower_bound"] = comments.apply(lambda x: wilson_lower_bound(x["up"], x["down"]), axis=1)

In [ ]:
comments.sort_values("wilson_lower_bound", ascending=False).head()

        up  down      reviewerID  score_pos_neg_diff  score_average_rating  wilson_lower_bound
2031  1952    68  A12B7ZMXFI6IXY                1884               0.96634             0.95754
3449  1428    77   AOEAD7DPLZE53                1351               0.94884             0.93652
4212  1568   126   AVBMZZAFEKO58                1442               0.92562             0.91214
317    422    73  A1ZQAQFYSXL5MQ                 349               0.85253             0.81858
4672    45     4  A2DKQQIZ793AV5                  41               0.91837             0.80811